<div class="article-top">
  <div class="article-title share-this">
    <span>Share this article</span>
  </div>
  <div class="article-icon-list">
    <ul class="social-icon-list">
      <li *ngFor="let item of iconList; let i=index">
        <span class="logo-icon" (mouseenter)="mouseEnter(i)" (mouseleave)="mouseLeave()">
          <nugget-icon [name]="item.icon" [stroke]="hoverIndex===i?'#4F37E2':'#344054'" [fill]="hoverIndex===i?'#4F37E2':'#344054'"></nugget-icon>
        </span>
      </li>
    </ul>
  </div>
</div>
<div class="article-bottom">
  <div class="article-content">
    <div class="article-title">
      <span>Subscribe to our Newsletter</span>
    </div>
    <div class="arcticle-desc">
      <p>Get the best content on user insights, design, and product management delivered straight to your inbox.</p>
    </div>
  </div>
  <div class="blog-news-letter">
    <div class="news-letter-input">
      <input type="text" class="form-control" placeholder="Your email">
    </div>
    <div class="news-letter-input">
      <button type="button" class="btn btn-primary-outline">Subscribe</button>
    </div>
  </div>
</div>
