<div class="container">
  <div class="row">
    <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
      <div class="credic-section">
        <h2>Your credits information</h2>
        <h5>You can upload document as if you have credit amount.</h5>
        <hr>
        <div class="credit-info mt-5">
          <h2>Max credits :- {{creditInfo?.max_credit || 0}} </h2>
          <h2>Available Credits :- {{creditInfo?.avail_credit > 0 ? creditInfo?.avail_credit : 0 }} </h2>
        </div>
      </div>
    </div>
  </div>
</div>
