.about-us {
  .about-header {
    background-color: $yellow-25;
    @include padding(80px 12px 64px 12px);
    .about-title {
      @include font-size(44px);
      font-family: $sora-bold;
      color: $primary-600;
      @include line-height(53px);
    }
  }
  .meet-the-team {
    @include padding(64px 0px 32px 0px);
    text-align: center;
    background-color: $yellow-25;
    .team-header {
      @include margin-bottom(40px);
      .team-title {
        @include margin-bottom(24px);
        font-size: 2.25rem;
        font-family: $sora-bold;
        color: $primary-950;
        @include line-height(43px);
      }
      .team-desc {
        @include font-size(24px);
        max-width: 1000px;
        margin: 0 auto;
        @include line-height(36px);
      }
    }

    .team-card {
      display: flex;
      flex-flow: column;
      align-items: center;
      gap: 24px;
      @include margin-bottom(64px);
      .team-card-header {
        .team-card-image {
          .profile-image {
            display: flex;
            justify-content: center;
            align-items: center;
            span {
              height: 200px;
              width: 200px;
              display: flex;
              justify-content: center;
              align-items: center;
              border-radius: 50%;
              overflow: hidden;
              img {
                height: 100%;
                width: 100%;
              }
            }
          }
        }
      }
      .team-card-body {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;
        gap: 8px;
        .team-job-title {
          display: flex;
          gap: 8px;
          @include line-height(32px);
          .title {
            @include font-size(24px);
            font-family: $inter-semibold;
            color: $gray-950;
          }
          .job-icon {
            height: 32px;
            width: 32px;
            background-color: $primary-200;
            border-radius: 4px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            padding: 4px;
          }
        }
        .team-job-sub-title {
          @include line-height(27px);
        }
      }
    }
  }
  .join-us {
    @include padding(64px 12px);
    .join-us-card {
      padding: 48px 16px;
      background-color: $gray-900;
      text-align: center;
      border-radius: 20px;
      .join-us-header {
        .join-us-title {
          @include font-size(36px);
          font-family: $sora-bold;
          color: $gray-25;
          @include margin-bottom(24px);
          @include line-height(43px);
        }
        .join-us-sub-title {
          color: $gray-50;
          @include margin-bottom(48px);
          @include font-size(20px);
          @include line-height(30px);
        }
      }
    }
  }
}
