@import "node_modules/swiper/swiper";
@import "node_modules/bootstrap/scss/bootstrap";
// regular style toast
@import "node_modules/ngx-toastr/toastr";
@import "./../fonts/font";
@import "./themes/index";
@import "./utils/index";
@import "./components/index";
@import "./pages/index.scss"; // OCR PAGES
@import "./responsive";
p {
  line-height: 1.5;
}
pre {
  @include line-height(30px);
  // color: white;
  padding: 0 1rem 1rem;
  margin: 0;
  // background-color: #23241f;
  border-radius: 3px;
  white-space: pre-wrap;
  margin-bottom: 5px;
  margin-top: 5px;
  padding: 5px 10px;
  font-family: $inter-semibold;
  cursor: text;
  a {
    color: #6cff13;
  }
  span.info-box {
    color: #6cff13;
  }
  span.decoratore {
    color: #fff314;
  }
  span.highlight {
    color: #14b8ff;
  }
  span.input-box {
    color: #89fcc8;
  }
  span.input-label {
    color: #7ddff7;
  }
  span.text-error-box {
    color: #f57c6f9b;
  }
  span.keyword {
    color: #569cd6;
  }
  span.formgp {
    color: #4ec9b0;
  }
  span.vari {
    color: #9cdcfe;
  }
  span.brkt-rond {
    color: #da70d6;
  }
  span.validate {
    color: #dcdcaa;
  }
  span.bt-color {
    color: #ce9178;
  }

  // #ce9178 class
  // #9cdcfe variable
  // #569cd6 privet public new keyword
  // #4ec9b0 formgroup
  // #808080 arrow html
}
.ocr-mark-primary {
  color: $primary-600;
}
img {
  height: 100%;
  width: 100%;
}
.text-primary-600 {
  color: $primary-600;
}
.ocrweb-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  // position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 11000;
  background: rgb(0 0 0 / 60%);
  .loader-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    .spinner-square {
      display: flex;
      flex-flow: row;
      gap: 10px;
      .square {
        width: 17px;
        height: 80px;
        margin: auto auto;
        border-radius: 4px;
        &.square-1 {
          animation: square-anim 1200ms cubic-bezier(0.445, 0.05, 0.55, 0.95) 0s
            infinite;
        }
        &.square-2 {
          animation: square-anim 1200ms cubic-bezier(0.445, 0.05, 0.55, 0.95)
            200ms infinite;
        }
        &.square-3 {
          animation: square-anim 1200ms cubic-bezier(0.445, 0.05, 0.55, 0.95)
            400ms infinite;
        }
      }
    }
    @keyframes square-anim {
      0% {
        height: 80px;
        background-color: rgb(111, 163, 240);
      }
      20% {
        height: 80px;
      }
      40% {
        height: 120px;
        background-color: rgb(111, 200, 240);
      }
      80% {
        height: 80px;
      }
      100% {
        height: 80px;
        background-color: rgb(111, 163, 240);
      }
    }
  }
}
.loader-hidden {
  // visibility: hidden;
  display: none;
}
.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  .profile-icon {
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $primary-600;
    background: $primary-600;
    @include font-size(10px);
    color: $primary-25;
    border-radius: 50%;
    text-transform: uppercase;
  }
}
.not-editable{
  cursor: not-allowed;
  user-select: none;
}
.error-msg{
  font-size: 12px;
}
