.ocr-home {

  .ocr-main-section {
    @include padding(96px 0px);
    .home-heading {
      @include padding(24px 0px 48px 0px);
      .file-upload-header {
        display: flex;
        flex-flow: column;
        gap: 16px;
        .file-input-title {
          span {
            @include font-size(56px);
            font-family: $inter-semibold;
            &.mark-title {
              color: $primary-600;
              font-family: $inter-bold;
              display: block;
            }
          }
        }
        .file-input-description {
        }
      }
      .home-page-right {
        .home-page-image {
          span {
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }
    .file-upload-body {
      .file-upload-form {
        .file-input-content {
          text-align: center;
          display: flex;
          flex-flow: column;
          gap: 50px;

          .file-input-body {
            position: relative;
            .file-input-card {
              background-color: $primary-100;
              @include padding(15px);
              .file-input-preview {
                .file-preivew-image {
                  span {
                    display: block;
                    // height: 350px;
                    height: auto;
                    width: 100%;
                  }
                }
              }
              .file-upload {
                display: flex;
                flex-flow: column;
                width: 100%;
                gap: 15px;
                // align-items: flex-end;
                .file-upload-button {
                  display: flex;
                  gap: 25px;
                  justify-content: flex-end;
                  .view-format {
                  }
                  .upload-button {
                  }
                  .remove-file-button {
                  }
                }
                .file-output {
                  width: 100%;
                  min-height: 350px;
                  max-height: 480px;
                  overflow: auto;
                  padding: 30px;
                  text-align: left;
                  &.file-selected {
                    cursor: text;
                  }
                }
              }
            }
          }
        }
      }
    }
    .file-process-detail {
      @include padding(48px 0px);
      .file-process-card {
        display: flex;
        flex-flow: column;
        gap: 12px;
        .file-step-icon {
          @include nugget-icon(30px);
          border-radius: 50%;
          background-color: $primary-100;
          color: $primary-600;
          @include font-size(12px);
          font-family: $inter-semibold;
          .step-icon {
          }
        }
        .file-detail-title {
          @include font-size(18px);
          font-family: $inter-semibold;
        }
        .file-detail-desc {
        }
      }
    }
  }
  .ocr-services {
    background-color: $yellow-25;
    .product-header-main {
      @include font-size(20px);
      font-family: $inter-semibold;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: $pink-900;
      // padding: 16px 0px;
    }
    .ocr-services-section {
      @include padding(96px 12px);
      .product-content {
        max-width: 562px;
        // @include padding(0px 12px);
        height: 100%;
        display: flex;
        flex-flow: column;
        justify-content: center;
        gap: 32px;
        .product-header {
          .product-title {
            padding: 0px;
            margin-bottom: 0;
          }
        }
        .product-body {
          .product-sub-title {
            @include margin-bottom(16px);
            @include font-size(44px);
            @include line-height(53px);
            font-family: $sora-bold;
            color: $primary-950;
          }
          .product-desc {
            @include font-size(20px);
            @include line-height(30px);
          }
        }
      }
      .product-image {
        height: 100%;
        width: 100%;
        .nugget-image {
          display: flex;
          justify-content: flex-start;
          // background-color: #fff;
          border-radius: 12px;
          padding: 10px;
          // max-height: 409px;
          @include box-shadow-card();
          max-width: 550px;
          height: 100%;
          width: 100%;
          span {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 100%;
            border-radius: 12px;
            overflow: hidden;
            img,
            video {
              height: 100%;
              width: 100%;
              border-radius: 12px;
            }
          }
        }
      }
    }
  }
  .product-title {
    @include font-size(20px);
    @include margin-bottom(32px);
    padding: 0px;
    font-family: $inter-semibold;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: $primary-500;
  }
}
