<div class="blog-detail nugget-blog">
  <div class="resource-heading">
    <app-resource-heading [resourceHeading]="resourceHeading" [type]="resourceTypeEnum.RESOURCE"></app-resource-heading>
  </div>
  <div class="blog-content">
    <div class="container">
      <div class="row">
        <div class="col-xxl-9 col-xl-9 col-lg-8 col-md-8 col-sm-12 ">
          <div class="blog-description" *ngIf="resourceDetails.html_content">
            <app-resource-description [blogContent]="resourceDetails.html_content"></app-resource-description>
          </div>
        </div>
        <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-4 col-sm-12 ">
          <div class="share-article">
            <app-share-article></app-share-article>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="more-story">
    <app-more-stories [moreStories]="moreStories" [type]="resourceTypeEnum.RESOURCE"></app-more-stories>
  </div>
</div>
