<div class="resource-heading-main">
  <div class="blog-image-heading">
    <div class="container">
      <div class="row">
        <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
          <div class="detail-content">
            <div class="breadcrumb">
              <span class="breadcrumb-link" (click)="goToResource()">Resources</span>&nbsp;
              <!-- <span>/ {{resourceHeading.breadcrumb}}</span> -->
              <span>/ {{type===resourceTypeEnum.BLOG?'Blog':'Customer stories'}}</span>
            </div>
            <div class="detail-title" *ngIf="resourceHeading.title">
              <span>{{resourceHeading.title}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="blog-image-section" [ngClass]="type===resourceTypeEnum.BLOG?'image-half':'bg-yellow'">
    <div class="blog-image">
      <div class="container">
        <div class="row">
          <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <div class="detail-content">
              <div class="image-content">
                <div class="row">
                  <div class=""
                    [ngClass]="resourceHeading.metadata.length!==0?'col-xxl-9 col-xl-9 col-lg-9 col-md-9 col-sm-12':'col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12'">
                    <div class="detail-image" [ngClass]="{'resource-image':resourceHeading.metadata.length!==0}">
                      <span *ngIf="resourceHeading.image">
                        <img [src]="resourceHeading.image" [alt]="resourceHeading.image">
                      </span>
                    </div>
                  </div>
                  <ng-container *ngIf="resourceHeading.metadata.length!==0">
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-sm-12">
                      <div class="meta-data mt-4 mt-md-0 ps-0 ps-md-4">
                        <div class="row">
                          <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-6 col-6"
                            *ngFor="let item of resourceHeading.metadata">
                            <div class="meta-data-value">
                              <span class="meta-data-title">{{item.key}}</span>
                              <span class="meta-data-desc" [innerHTML]="item.value | metadataFilter"></span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ng-container>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="share-this d-block d-md-none">
      <div class="container">
        <div class="row">
          <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <div class="share-article  pb-0 px-2">
              <div class="article-top">
                <div class="article-title">
                  <span>Share this article</span>
                </div>
                <div class="article-icon-list">
                  <ul class="social-icon-list">
                    <li *ngFor="let item of iconList; let i=index">
                      <span class="logo-icon" (mouseenter)="mouseEnter(i)" (mouseleave)="mouseLeave()">
                        <nugget-icon [name]="item.icon" [stroke]="hoverIndex===i?'#4F37E2':'#344054'"
                          [fill]="hoverIndex===i?'#4F37E2':'#344054'"></nugget-icon>
                      </span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
