<div class="pricing pt-5" >
  <div class="container">
    <div class="col-xxl-12">
      <div class="pricing-section">
        <div class="container">
          <div class="row">
             <div class="col-md-12 mb-5 text-center">

                <h1 class="text-primary-600 inter-bold">Pricing</h1>
                <p>A price quote is a formal and detailed offer from a business to a prospect.</p><hr>
                <h6>This is pending!</h6>
                <hr>
             </div>
             <!-- Purple Table -->
             <div class="col-md-4" *ngFor="let item of [1,2,3]">
                <div class="pricing-table card-main purple" >
                   <!-- Table Head -->
                   <!-- <div class="pricing-label">Fixed Price</div> -->
                   <h2>BasicPack 2024</h2>
                   <!-- Features -->
                   <div class="pricing-features">
                      <div class="feature">File stoage<span><i class='bx bx-check'></i></span></div>
                      <div class="feature">Download Text files<span><i class='bx bx-check'></i></span></div>
                      <div class="feature">Download Word files<span><i class='bx bx-check'></i></span></div>
                      <div class="feature">Get JSON from file<span><i class='bx bx-x'></i></span></div>
                      <div class="feature">Export data in excel<span><i class='bx bx-x' ></i></span></div>
                      <!-- <div class="feature">Word to PDF<span><i class='bx bx-check' ></i></span></div>
                      <div class="feature">PDF to word<span><i class='bx bx-check' ></i></span></div> -->
                      <div class="feature">Max credits<span>10</span></div>
                   </div>
                   <!-- Price -->
                   <div class="price-tag">
                      <span class="symbol text-primary-600">Rs.</span>
                      <span class="amount text-primary-600">0</span>
                      <span class="after">/month</span>
                   </div>
                   <!-- Button -->
                   <button class="btn btn-primary w-100 mt-4" (click)="getStarted()">Get Started</button>
                </div>
             </div>
             <!-- Turquoise Table -->
             <div class="col-md-4" *ngIf="false">
                <div class="pricing-table card-main turquoise">
                   <!-- Table Head -->
                   <div class="pricing-label">Fixed Price</div>
                   <h2>ExtendedPack 2020</h2>
                   <h5>Made for experienced users</h5>
                   <!-- Features -->
                   <div class="pricing-features">
                      <div class="feature">Bandwith<span>150 GB</span></div>
                      <div class="feature">Add-On Domains<span>25</span></div>
                      <div class="feature">SSD Storage<span>500 GB</span></div>
                      <div class="feature">Mail Adresses<span>50</span></div>
                      <div class="feature">Support<span>Mail/Phone</span></div>
                   </div>
                   <!-- Price -->
                   <div class="price-tag">
                      <span class="symbol">Rs.</span>
                      <span class="amount">199.00</span>
                      <span class="after">/month</span>
                   </div>
                   <!-- Button -->
                   <a class="price-button" href="#">Get Started</a>
                </div>
             </div>
             <!-- Red Table -->
             <div class="col-md-4" *ngIf="false">
                <div class="pricing-table card-main red">
                   <!-- Table Head -->
                   <div class="pricing-label">Fixed Price</div>
                   <h2>ProsPack 2020</h2>
                   <h5>Made for professionals/agencies</h5>
                   <!-- Features -->
                   <div class="pricing-features">
                      <div class="feature">Bandwith<span>250 GB</span></div>
                      <div class="feature">Add-On Domains<span>50</span></div>
                      <div class="feature">SSD Storage<span>1 TB</span></div>
                      <div class="feature">Mail Adresses<span>75</span></div>
                      <div class="feature">Support<span>7/24</span></div>
                   </div>
                   <!-- Price -->
                   <div class="price-tag">
                      <span class="symbol">Rs.</span>
                      <span class="amount">699</span>
                      <span class="after">/month</span>
                   </div>
                   <!-- Button -->
                   <a class="price-button" href="#">Get Started</a>
                </div>
             </div>
          </div>
       </div>
      </div>
    </div>
  </div>
</div>
