<div class="pricing pt-5">
  <div class="container">
    <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
      <div class="pricing-section">
        <div class="container">
          <div class="row g-4">
            <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-5 text-center">
              <h1 class="inter-bold">Pricing</h1>
              <p>A price quote is a formal and detailed offer from a business to a prospect.</p>
              <hr>
            </div>
            <!-- Purple Table -->
            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-12" *ngFor="let item of pricingList; let i=index">
              <div class="pricing-table card-main card-hover">
                <!-- Table Head -->
                <!-- <div class="pricing-label">Fixed Price</div> -->
                <h2>{{item.planName}}</h2>
                <!-- Features -->
                <div class="pricing-features">
                  <div class="feature">
                    <span>File stoage</span>
                    <span><i [ngClass]="item.fileStorage?'bx bx-check':'bx bx-x'"></i></span>
                  </div>
                  <div class="feature">
                    <span>Download Text files</span>
                    <span><i [ngClass]="item.downloadText?'bx bx-check':'bx bx-x'"></i></span>
                  </div>
                  <div class="feature">
                    <span>Download Word files</span>
                    <span><i [ngClass]="item.downloadWord?'bx bx-check':'bx bx-x'"></i></span>
                  </div>
                  <div class="feature">
                    <span>Export data in excel</span>
                    <span><i [ngClass]="item.exportExcel?'bx bx-check':'bx bx-x'"></i></span>
                  </div>
                  <div class="feature">
                    <span>View PDF Files</span>
                    <span><i [ngClass]="item.viewPdf?'bx bx-check':'bx bx-x'"></i></span>
                  </div>
                  <div class="feature">
                    <span>Maximum file uploads</span>
                    <span>{{item.maxCredits > 0 ? item.maxCredits:'Unlimited!' }}</span>
                  </div>
                </div>
                <!-- Price -->
                <div class="price-tag">
                  <span class="symbol">Rs.</span>
                  <h2 class="amount">{{item.price}}</h2>
                  <span class="after">/month</span>
                </div>
                <!-- Button -->
                <button class="btn w-100 mt-4" [ngClass]="i === 1?'btn-primary':'btn-primary-outline'"
                  (click)="getStarted(item)">Get Started</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
