$sidebar-width: 280px;
.admin-wrapper {
  .sidebar-left {
    position: fixed;
    width: $sidebar-width;
    left: 0;
    z-index: 10000;
    height: 100vh;
    overflow: auto;
  }
  .layout-page {
    margin-left: $sidebar-width;
    .layout-navbar {
      position: sticky;
      top: 12px;
    }
  }

}
