$sidebar-width: 260px;
.admin-wrapper {
  position: relative;
  .sidebar-left {
    // position: fixed;
    // // width: $sidebar-width;
    // left: 0;
    // z-index: 100;
    // height: 100vh;
    // overflow: auto;
    .layout-menu{
      @include box-shadow-default($gray-300);
    }
  }
  .layout-page {
    // margin-left: $sidebar-width;
    // position: relative;
    .layout-navbar {
      // position: sticky;
      // top: 12px;
    }
  }
  .ocr-footer{
    position: absolute;
    bottom: 0;
    left: $sidebar-width;
    right: 0;
    @include media-breakpoint-down('xl'){
      left: 0;
    }
  }
}
