<div class="docuemnt-data py-5" *ngIf="true">
  <div class="document-data-title">
    <h4>Documents information</h4>
    <hr>
  </div>
  <!-- <h1>Data</h1> -->
  <ng-container *ngIf="documentList.length; else noDocument">
    <div class="table-responsive">
      <table class="table ">
        <thead>
          <tr>
            <th>Id</th>
            <th>Image</th>
            <th>Category</th>
            <th>Vendor</th>
            <th>Document type</th>
            <th>Invoice number</th>
            <th>Created at</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of documentList; let i=index">
            <td>{{i + 1}}</td> <!-- item.doc_id -->
            <td style="cursor: pointer;" (click)="onViewFile(item.doc_id)"> <!--adding temporary inline style-->
              <div class="image-thumbnail">
                <span>
                  <img [src]="'http://localhost:8000'+  item.image_url" [alt]="'image-not-found'">
                </span>
              </div>
            </td>
            <td>{{item.category ? item.category:'--'}}</td>
            <td>{{item.vendor_name ? item.vendor_name :'--'}}</td>
            <td>{{item.document_type ? item.document_type : '--'}}</td>
            <td>{{item.invoice_number ? item.invoice_number : '--'}}</td>
            <td>{{item.created_at ? ( item.created_at | date ) :'--' }}</td>
            <!-- <td>{{item.updated_at ? ( item.updated_at| date ) :'--' }}</td> -->
            <td>
              <div class="delete-button d-flex">
                <button class="btn btn-outline-danger btn-xs" (click)="onDeleteDocument(item.doc_id)">Delete</button>
                <!-- <button class="btn btn-outline-danger btn-primary-outline ms-3" (click)="downloadFile(item.doc_id)">Download</button> -->
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </ng-container>
  <ng-template #noDocument>
    <tr>
      <td>
        <span>No Documents found!</span>
      </td>
    </tr>
  </ng-template>
</div>
