.card-main {
  background-color: $primary-25;
  border: 1px solid $primary-100;
  transition: all 0.2s;
  position: relative;
  border-radius: 4px;
  overflow: hidden;
  // height: calc(100% - 64px);
  height: calc(100%);
  cursor: pointer;
  @include box-shadow-card(top);
  &:hover {
    @include box-shadow-default($primary-100);
  }
  &.card-hover {
    &:hover {
      transform: translateY(-10px);
    }
  }
  .file-detail-card-content {
    max-height: 500px;
    overflow: auto;
  }
  // @include margin(64px 0px 0px 0px);
  .card-header {
    background-color: $primary-25;
    padding: 0;
    border: none;
    .card-image {
      padding-top: 56.25%;
      position: relative;
      height: 100%;
      span {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        // max-width: 300px;
        height: 100%;
        // background: $gray-900;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  .card-body {
    background-color: #fff;
    @include padding(20px 16px);
    .card-date {
      color: $gray-500;
      @include font-size(18px);
    }
    .card-title {
      @include font-size(32px);
      color: $gray-950;
      @include margin(16px 0px);
      font-family: $sora-bold;
      @include line-height(43px);
      @include line-clamp(2);
    }
    .card-desc {
      @include font-size(20px);
      color: $gray-600;
      span,
      p {
        @include line-clamp(3);
      }
    }
  }
  .copy-text-button {
    position: absolute;
    right: 30px;
    top: 10px;
    span {
      svg {
        fill: $primary-300;
        filter: drop-shadow(0px 1px 2px $primary-50);
      }
    }
  }
}
@include media-breakpoint-down(md) {
  .card {
    .card-header {
      .card-image {
      }
    }
    .card-body {
      .card-date {
      }
      .card-title {
      }
      .card-desc {
      }
    }
  }
}
.card{
  @include box-shadow-simple();
}
@include media-breakpoint-down(sm) {
  .card {
    .card-header {
      .card-image {
        // padding-top: 79.71% !important;
        span {
          img {
          }
        }
      }
    }
    .card-body {
      .card-date {
        @include font-size(16px);
      }
      .card-title {
        @include font-size(20px);
        font-family: $inter-semibold;
        @include line-height(30px);
      }
      .card-desc {
        @include font-size(16px);
      }
    }
  }
}
