.ng-select.form-control {
  @include box-sizing;
  background: transparent;
  padding: 0;
  .ng-select-container {
    display: flex;
    outline: none;
    overflow: hidden;
    position: relative;
    padding: 0.75rem 1rem;
    width: 100%;
    min-height: 0px;
    border-radius: 0;
    cursor: default;
    .ng-value-container {
      display: flex;
      flex: 1;
      .ng-placeholder {
        font-family: $inter-medium;
        @include font-size(14px);
      }
      .ng-input {
        opacity: 0;

        > input {
          box-sizing: content-box;
          background: none transparent;
          border: 0 none;
          box-shadow: none;
          outline: none;
          padding: 0;
          cursor: pointer;
          width: 100%;

          &::-ms-clear {
            display: none;
          }
        }
      }
    }
    &.ng-has-value {
      .ng-value-container {
        .ng-placeholder {
          display: none;
        }
      }
    }
  }
  @include themed() {
    .ng-select-container {
      .ng-value-container {
        .ng-placeholder {
          color: $gray-400;
        }
        .ng-input {
          > input {
            color: t($ngt-inverse-dark);
          }
        }
      }
    }
  }
}
.dropdown {
  .dropdown-icon {
  }
  .dropdown-menu {
    .dropdown-item {
      transition: 0.1s;
      &:hover {
        background: $primary-50;
      }
      &:active {
        background: $primary-300;
        color: $primary-25;
      }
    }
  }
}
