.mr-4 {
  margin-right: 1.5rem !important;
}
.ml-4 {
  margin-left: 1.5rem !important;
}

.mr-3 {
  margin-right: 1.125rem !important;
}
.ml-3 {
  margin-left: 1.125rem !important;
}
.mr-2 {
  margin-right: 0.75rem !important;
}
.ml-2 {
  margin-left: 0.75rem !important;
}
.text-light-dark {
  color: $gray-700 !important;
}
.tex-wrap {
  white-space: pre-wrap !important;
}
.tex-no-wrap {
  white-space: nowrap !important;
}
.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: 25px;
  padding: 1px;
  &.brand-icon {
    height: 75px;
    width: 75px;
  }
}
p {
  @include line-height(30px);
  margin-bottom: 0;
}
.social-icon-list {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 20px;
  .logo-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 20px;
    width: 20px;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  &.sora {
    font-family: $sora;
  }
  &.sora-bold {
    font-family: $sora-bold;
  }
  &.inter {
    font-family: $inter;
  }
  &.inter-bold {
    font-family: $inter-bold;
  }
}
h1 {
  @include font-size(56px);
}
h2 {
  @include font-size(36px);
  font-family: $inter-bold;
}
h3 {
  @include font-size(28px);
}
h4 {
  @include font-size(24px);
}
h5 {
  @include font-size(20px);
}
h6 {
  @include font-size(18px);
}
@include media-breakpoint-down(sm) {
  p {
    @include line-height(24px);
  }
}
