<div class="pricing">
  <div class="pricing-header-main">
    <div class="container">
      <div class="row">
        <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
          <div class="header-title">
            <div class="pricing-header-title">
              <span>Up your research game with GetCurious </span>
            </div>
            <div class="pricing-header-desc">
              <span>Find the right plan for your team</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="pricing-section hiring">
    <div class="container">
      <div class="row">
        <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
          <div class="pricing-header text-start text-md-center">
            <div class="pricing-title">
              <span>Run research on your own participants</span>
            </div>
            <div class="pricing-sub-title">
              <span>Run flexible research methods on your participants</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row row-gap-4">
        <div class="col-xxl-3 col-xl-3 col-lg-6 col-md-6 col-sm-12" *ngFor="let item of hiringPriceList; let i=index">
          <app-pricing-plan [priceList]="item" [priceIndex]="i"></app-pricing-plan>
        </div>
      </div>
    </div>
  </div>
  <div class="pricing-section recruitment">
    <div class="container">
      <div class="row">
        <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
          <div class="pricing-header text-start text-sm-center">
            <div class="pricing-title">
              <span>Recruit participants from the GetCurious panel</span>
            </div>
            <div class="pricing-sub-title">
              <span>Conduct researcher across B2C and B2B participants from a panel of 3 Mn + participants</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row row-gap-4">
        <div class="col-xxl-3 col-xl-3 col-lg-6 col-md-6 col-sm-6" *ngFor="let item of recruitPriceList; let i=index">
          <app-pricing-plan [priceList]="item" [priceIndex]="i"></app-pricing-plan>
        </div>
      </div>
    </div>
  </div>
  <div class="pricing-bottom text-start text-md-center">
    <div class="container">
      <div class="row">
        <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <div class="custom-plan">
              <div class="custom-plan-header">
                <span>Looking for something beyond these standard plans?</span>
              </div>
              <div class="custom-plan-footer">
                <div class="button">
                  <button class="btn btn-primary-outline btn-xl py-md-4" (click)="openModal()">Reach out for a custom plan</button>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
