<div class="teams-header-main">
  <div class="container">
    <div class="row">
      <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="teams-header-content text-center">
          <div class="teams-title">
            <span>{{teamDetails.title}}</span>
          </div>
          <div class="teams-sub-title nugget-heading">
            <span>{{teamDetails.subTitle}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="product-detail teams-product-detail" >
  <!-- <app-slider [sliderList]="teamDetails.keyPoints" [initClass]="'item'+i"></app-slider> -->
  <div class="product-detail-section" *ngFor="let item of teamDetails.keyPoints; let i=index">
    <app-slider-item [sliderItem]="item" [rtl]="i%2===1?'SLIDE_LEFT':'SLIDE_RIGHT'" [isTeams]="true"></app-slider-item>
  </div>
</div>
<div class="help-section">
  <div class="container">
    <div class="row">
      <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="help-header-title text-center">
          <div class="help-heading">
            <span>Built to help you</span>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-12" *ngFor="let item of teamDetails.helpList">
        <div class="help-card pb-5 mx-sm-auto mx-0">
          <div class="help-image">
            <span class="icon">
              <!-- <img [src]="item.icon" alt="help-image"> -->
              <nugget-icon [name]="item.icon"></nugget-icon>
            </span>
          </div>
          <div class="help-content">
            <div class="help-desc">
              <span>{{item.desc}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="try-nugget text-start text-md-center">
  <div class="container">
    <div class="row">
      <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="try-nugget-content">
          <div class="description">
            <span>Experience these powerful benefits with a free trial of GetCurious — no credit card required.</span>
          </div>
          <div class="button">
            <button type="button" class="btn btn-primary btn-xl" [routerLink]="['/pricing']">Try GetCurious for free</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
