<div class="container">
  <div class="row justify-content-center">
    <div class="col-xxl-9 col-xl-10 col-lg-12 col-md-12 col-sm-12">
      <div class="privacy-detail px-2 px-sm-0">
        <div class="privacy-heading">
          <div class="privacy-title">
            <span>{{privacyList.title}}</span>
          </div>
          <div class="privacy-desc">
            <span>{{privacyList.desc}}</span>
          </div>
        </div>
        <div class="privacy-content">
          <ul>
            <li *ngFor="let item of privacyList.array">
              <div class="privacy-list-item">
                <div class="title" *ngIf="item.title">
                  <span>{{item.title}}</span>
                </div>
                <div class="desc" *ngIf="item.desc">
                  <span>{{item.desc}}</span>
                  <ng-container *ngIf="item.link">
                    <span [routerLink]="item.linkUrl" class="link"> Privacy Policy</span>
                  </ng-container>
                </div>
              </div>
              <ng-container *ngIf="item.keyPoints">
                <ul>
                  <li *ngFor="let subItem of item.keyPoints">
                    <div class="privacy-list-item" [ngClass]="privacyList.class">
                      <div class="title">
                        <span>{{subItem.key}}: </span>
                      </div>
                      <div class="desc">
                        <span>{{subItem.point}} </span>
                      </div>
                    </div>
                  </li>
                </ul>
              </ng-container>
              <ng-container *ngIf="item.faqs">
                <ul>
                  <li *ngFor="let subItem of item.faqs; let i=index">
                    <div class="privacy-list-item faqs">
                      <div class="question">
                        <span class="title">Question: </span>
                        <span class="desc">{{subItem.que}} </span>
                      </div>
                      <div class="answer">
                        <span class="title">Answer: </span>
                        <span>{{subItem.ans}}</span>
                      </div>
                    </div>
                  </li>
                </ul>
              </ng-container>
            </li>
          </ul>
        </div>
        <div class="email-link">
          <div class="email-title">
            <span>Contact Us</span>
          </div>
          <div class="email-desc">
            <ng-container *ngIf="privacyList.title.includes('Privacy'); else termsBlock">
              <span>If you have questions, comments, or concerns about GetCurious or this Privacy Policy, please email us at:</span>
            </ng-container>
            <ng-template #termsBlock>
              <span>If you have any questions about these Terms, please contact us at </span>
            </ng-template>
            <a href="mailto::hello@getcurious.co" class="link">hello@getcurious.co</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
