<div class="forgot-password">
  <h4 class="mb-2">Forgot Password? 🔒</h4>
  <p class="mb-4">Enter your email and we'll send you instructions to reset your password</p>
  <form id="formAuthentication" class="mb-3">
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="text" class="form-control" id="email" name="email" placeholder="Enter your email" autofocus />
    </div>
    <button class="btn btn-primary d-grid w-100">Send Reset Link</button>
  </form>
  <div class="text-center">
    <span class="d-flex align-items-center justify-content-center " (click)="goToLogin()">
      <i class="bx bx-chevron-left scaleX-n1-rtl bx-sm"></i>
      <span class="link">Back to login</span>
    </span>
  </div>
</div>
