body {
  margin: 0;
  padding: 0;
  font-family: $inter;
  font-weight: normal;
  // line-height: normal;
  line-height: 1.2;
  @include font-size($font-size-base);
  // padding-top: 80px;
  overflow: auto;
  transition: padding-top 0.3s ease-in-out;
  @include themed {
    color: t($text-color);
    background: t($bg-color);
  }
}
div,
input,
span {
  @include box-sizing;
}
[hidden] {
  display: none;
}
[readonly] {
  user-select: none !important;
  width: 0;
  padding: 0;
}
.ocr-web-container {
  display: block;
  position: relative;
  min-height: 100vh;
  padding-top: 80px;
}
@include media-breakpoint-down(sm) {
  // body {
  //   padding-top: 75px;
  //   &.announce {
  //     padding-top: calc(75px + 62px);
  //   }
  // }
}
.popup-element {
  display: none !important;
}
