<div class="top-header fixed-top" appAnnounceBar [isAnnounce]="isAnnounce" id="top-header">
  <div id="announce-bar" class="announce-bar" *ngIf="isAnnounce && false">
    <div class="container">
      <div class="row">
        <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
          <div class="bar">
            <div class="announce-content">
              <span>We're thrilled to unveil our new identity. Formerly known as UserStudy, we are now GetCurious!
                🚀</span>
              <!-- <a href="javascript:void(0)" class="link"> Here’s a link</a> -->
            </div>
            <div class="close-icon">
              <span class="icon" (click)="onCloseIcon()">
                <nugget-icon name="x-close"></nugget-icon>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <nav class="navbar navbar-expand-lg scrolled navwhite"> <!-- [ngClass]="{'scrolled':isScrolled,'navwhite':isNavWhite }"-->
    <div class="container">
      <div class="navbar-brand">
        <div class="brand order-1 order-lg-1">
          <span routerLink="/">
            <!-- <nugget-icon name="getcurious"></nugget-icon> -->
            <nugget-icon name="ocr-web"  [fill]="themeColor" ></nugget-icon>
          </span>
        </div>
        <div id="hemburg-box" class="hemburg order-3 order-lg-2 d-lg-none " (click)="toggleButton()"
          data-bs-toggle="collapse" data-bs-target="#navbar-content" aria-controls="navbar-content"
          aria-expanded="false" aria-label="Toggle navigation">
          <span>
            <!-- <nugget-icon [name]="isOpen?'x-close':'hemburg'"  [stroke]="'#4F37E2'"></nugget-icon> -->
            <nugget-icon [name]="'hemburg'" [lineStroke]="themeColor"></nugget-icon>
          </span>
        </div>
        <div class="navbar-content order-4 order-lg-3 collapse navbar-collapse justify-content-center"
          id="navbar-content">
          <ul class="navbar-nav">
            <li class="nav-item" *ngFor="let item of menuList; let i=index"
              [ngClass]="{'dropdown':item.subMenu.length!==0}">
              <div class="menu-item">
                <ng-container *ngIf="item.subMenu.length; else routerlinkbox">
                  <div class="menu-title" [attr.data-bs-toggle]="'dropdown'">
                    <span class="menu-nav-link">
                      {{item.title}}
                    </span>
                    <span class="nav-icon">
                      <nugget-icon name="down-arrow"></nugget-icon>
                    </span>
                  </div>
                  <div class="dropdown-menu">
                    <div class="container">
                      <div class="row">
                        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12"
                          *ngFor="let subItem of item.subMenu">
                          <div class="dd-teams-card" [routerLink]="[item.routing, subItem.link]"
                            routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"
                            (click)="toggleHemburge()">
                            <div class="dd-teams-card-header">
                              <div class="dd-team-icon">
                                <span>
                                  <nugget-icon [name]="subItem.icon"></nugget-icon>
                                </span>
                              </div>
                            </div>
                            <div class="dd-teams-card-body">
                              <div class="dd-teams-card-title">
                                <span>{{subItem.title}}</span><br>
                              </div>
                              <div class="dd-teams-card-desc">
                                <span>{{subItem.desc}}</span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-container>
                <ng-template #routerlinkbox>
                  <div class="menu-title" [routerLink]="item.routing" routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact:true}" (click)="toggleHemburge()">
                    <span class="menu-nav-link">
                      {{item.title}}
                    </span>
                  </div>
                </ng-template>
              </div>
            </li>
          </ul>
        </div>
        <div class="order-2 order-lg-4 nav-buttons d-flex gap-1 align-items-center">
          <div class="nav-button d-none d-md-flex">
            <button type="button" class="btn btn-primary-outline " (click)="goToLogin()">Login</button>
            <button type="button" class="btn btn-primary" (click)="goToSignup()">Create free account</button>
            <!--{{isLoggedIn ? 'Logout':'Login'}}-->
          </div>
          <div class="profile-account">
            <span>Account</span>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>
