<div class="document-section">
  <div class="document-list-section">
    <div class="container">
      <div class="row">
        <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
          <div class="document-list-heading">
            <div class="document-list-title">
              <h2>{{!isArchivedList?'Document information':'Recycle bin information'}} </h2>
              <h2>Total :- {{documentList.length}}</h2>
            </div>
            <div class="document-list-subtitle">
              <h5>{{isArchivedList?'Do you want to recover this file? Click on the dropdown icon!':'Here is your Documents information :)'}}</h5><hr>
              <hr>
            </div>
            <div class="document-search-form" *ngIf="!false">
              <form action="" [formGroup]="searchForm">
                <div class="form-group">
                  <!-- <label for="">Search</label> -->
                  <input type="text" class="form-control" placeholder="Search documents..." formControlName="query">
                </div>
              </form>
            </div>
            <div class="document-list-desc" *ngIf="false">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius ex, dolores inventore autem maiores quia
                voluptatem quidem vero perspiciatis sequi! Placeat, quisquam?</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
          <div class="document-list">
            <app-file-data [isArchivedList]="isArchivedList" [searchQuery]="searchQuery"
              [isLoading]="isLoading" (documentListEvent)="getDocuments($event)"></app-file-data>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
