.blog-detail {
  .resource-heading {
    // @include padding(96px 12px 64px 12px);
    .blog-image-heading {
      @include padding(96px 12px 0px 12px);
      background-color: $yellow-25;
      .detail-content {
        .breadcrumb {
          @include font-size(20px);
          font-family: $inter-semibold;
          @include line-height(30px);
          color: $gray-700;
          .breadcrumb-link {
            cursor: pointer;
          }
        }
        .detail-title {
          color: $gray-900;
          @include font-size(36px);
          font-family: $sora-bold;
          @include margin(48px 0px);
          display: flex;
          flex-flow: column;
          gap: 4px;
          .sub-title {
            color: $gray-700;
            @include font-size(16px);
            margin-top: 10px;
            font-family: $sora-medium;
          }
        }
      }
    }
    .blog-image-section {
      @include padding-bottom(64px);
      .blog-image {
        position: relative;
        @include padding(0 12px);
        .image-content {
          .detail-image {
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            border-radius: 10px;
            span {
              display: flex;
              justify-content: center;
              align-items: center;
              max-height: 400px;
              width: 100%;
              img {
                height: 100%;
                width: 100%;
              }
            }
            &.resource-image {
              background-color: $primary-500;
              span {
                max-width: 400px;
                min-height: 400px;
              }
            }
          }
          .meta-data {
            height: 100%;
            display: flex;
            align-items: center;
            .meta-data-value {
              display: flex;
              flex-flow: column;
              gap: 4px;
              // @include margin-bottom(16px);
              .meta-data-title {
                @include font-size(18px);
                @include line-height(27px);
                font-family: $inter-semibold;
              }
              .meta-data-desc {
                @include line-height(24px);
                color: inherit;
                text-decoration: none;
              }
            }
          }
        }
      }
      &.image-half {
        .blog-image {
          &::after {
            content: "";
            position: absolute;
            height: 50%;
            top: 0;
            background: $yellow-25;
            left: 0;
            right: 0;
            z-index: -1;
          }
        }
      }
      &.bg-yellow {
        background-color: $yellow-25;
      }
    }
  }
  .share-article {
    position: sticky;
    top: 150px;
    // @include padding(48px 0px);
    .article-title {
      @include font-size(20px);
      color: $gray-700;
      font-family: $inter-semibold;
    }
    .article-top {
      @include margin-bottom(48px);
      .article-icon-list {
        font-family: $inter-medium;
        @include margin-top(8px);
      }
    }
    .article-bottom {
      .article-content {
        .article-title {
        }
        .arcticle-desc {
          font-family: $inter-medium;
          @include margin-top(8px);
          color: $gray-600;
        }
      }
      .blog-news-letter {
        .news-letter-input {
          @include margin(16px 0px);
        }
      }
    }
  }
  .blog-content {
    // @include padding(0px 12px);
    @include padding(48px 12px);
    .blog-description {
      color: $gray-800;
      white-space: wrap;
      line-height: 150%;
      font-family: inherit;
      font-size: inherit;
      // @include padding-top(48px);
      .resource-description {
        ul,
        ol {
          list-style: inherit;
          margin: 0;
          padding: 0;
          padding-left: 1.5em;
          li {
            display: list-item;
            word-break: break-word;
            &:nth-child(1) {
              .content {
                .title {
                  @include font-size(28px);
                  @include margin(0px 0px 48px 0px);
                }
                .desc {
                }
              }
            }
          }
        }
        .content {
          .title {
            font-family: $inter-semibold;
            @include font-size(24px);
            @include margin(32px 0px);
            @include line-height(37px);
          }
          .desc {
            @include font-size(20px);
            @include line-height(37px);
          }
        }
        .image-section {
          ul {
            margin: 0;
            padding: 0;
            list-style: none;
            display: flex;
            gap: 48px;
            justify-content: space-between;
            li {
              width: 100%;
              @include margin(48px 0px 24px 0px);
              display: flex;
              flex-flow: column;
              gap: 16px;
              .nugget-image {
                span {
                  display: block;
                  max-height: 400px;
                  overflow: hidden;
                  border-radius: 8px;
                  img {
                    height: 100%;
                    width: 100%;
                  }
                }
              }
            }
          }
        }
        p {
          display: block;
          word-break: break-word;
          white-space: normal;
        }
        iframe {
          width: 100%;
          min-height: 500px;
        }
        b,
        strong {
          font-family: $inter-semibold;
        }
      }
    }
  }
}
