.contact {
  @include padding(40px 0px);
  background: $yellow-25;
  .contact-info {
    @include padding(0px 12px);
    .contact-header {
      font-family: $sora-bold;
      font-size: 36px;
      @include padding(96px 0px);
      max-width: 496px;
      color: $gray-800;
    }
    .contact-card {
      max-width: 420px;
      @include padding(24px);
      // @include box-shadow-default($primary-100);
      // border: 1px solid $primary-100;
      @include box-shadow-card();
      // background: #fff;
      color: $gray-600;
      padding: 24px;
      border-radius: 20px;
      display: flex;
      flex-flow: column;
      gap: 32px;
      .contact-card-header {
        font-family: $inter-medium;
        @include line-height(30px);
        @include font-size(20px);
      }
      .contact-card-body {
        display: flex;
        flex-flow: row;
        gap: 24px;
        .job-image {
          display: flex;
          justify-content: center;
          align-items: center;
          span {
            @include nugget-icon(72px);
            border-radius: 50%;
            overflow: hidden;
            img{
              height: 100%;
              width: 100%;
            }
          }
        }
        .job-info {
          display: flex;
          flex-flow: column;
          gap: 4px;
          align-items: flex-start;
          .job-title {
            font-family: $inter-semibold;
            font-size: 18px;
          }
          .job-sub-title {
            @include line-height(27px);
          }
          .job-logo {
            display: flex;
            justify-content: flex-start;
            height: 24px;
            width: auto;
          }
        }
      }
    }
  }
  .contact-form {
    // @include margin-top(32px);
    .contact-form-card {
      // @include box-shadow-default($primary-100);
      background-color: $primary-25;
      @include box-shadow-card();
      border-radius: 12px;
      cursor: auto;
      .card-body {
        @include padding(32px 48px);
        form {
          .form-group {
            padding-top: 0px;
            &.description {
              @include line-height(24px);
            }
            .form-heading {
              span {
                @include line-height(32px);
                @include font-size(22px);
                color: $primary-600;
                font-family: $inter-semibold;
              }
            }
            .form-error {
              color: $red-400;
              position: absolute;
              right: 0px;
            }
            .tearms-link {
              color: $primary-500;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}
