.ocr-home {
  .ocr-main-section {
    @include padding(96px 0px);
    .home-heading {
      @include padding(24px 0px 96px 0px);
      .file-upload-header {
        display: flex;
        flex-flow: column;
        gap: 16px;
        .file-input-title {
          span {
            @include font-size(56px);
            font-family: $inter-semibold;
            &.mark-title {
              color: $primary-600;
              font-family: $inter-bold;
              display: block;
            }
          }
        }
        .file-input-description {
          display: flex;
          flex-flow: column;
          gap: 12px;
        }
      }
      .home-page-right {
        .home-page-image {
          span {
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }
    .file-process-detail {
      @include padding(48px 0px);
      .file-process-card {
        display: flex;
        flex-flow: column;
        gap: 12px;
        position: relative;
        @include padding-top(30px);
        &::before {
          content: "";
          position: absolute;
          left: 0;
          right: 0;
          width: 100%;
          height: 1px;
          background: $gray-300;
          top: -0;
        }
        .file-step-icon {
          @include nugget-icon(30px);
          border-radius: 50%;
          background-color: $primary-100;
          color: $primary-600;
          @include font-size(12px);
          font-family: $inter-semibold;
          .step-icon {
          }
        }
        .file-detail-title {
          @include font-size(18px);
          font-family: $inter-semibold;
        }
        .file-detail-desc {
        }
      }
    }
  }
  .ocr-services {
    // background-color: $primary-50;
    .product-header-main {
      @include font-size(20px);
      font-family: $inter-semibold;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: $pink-900;
      // padding: 16px 0px;
    }
    .ocr-services-section {
      @include padding(96px 12px);
      .product-content {
        max-width: 562px;
        // @include padding(0px 12px);
        height: 100%;
        display: flex;
        flex-flow: column;
        justify-content: center;
        gap: 32px;
        .product-header {
          .product-title {
            padding: 0px;
            margin-bottom: 0;
            font-family: $inter-semibold;
            letter-spacing: 2px;
            text-transform: uppercase;
            color: $primary-600;
            @include font-size(20px);
          }
        }
        .product-body {
          .product-sub-title {
            @include margin-bottom(16px);
            @include font-size(44px);
            @include line-height(53px);
            font-family: $sora-bold;
          }
          .product-desc {
            @include font-size(20px);
            @include line-height(30px);
          }
        }
      }
      .product-image {
        height: 100%;
        width: 100%;
        .nugget-image {
          display: flex;
          justify-content: flex-start;
          // background-color: #fff;
          border-radius: 12px;
          padding: 10px;
          // max-height: 409px;
          @include box-shadow-card();
          max-width: 550px;
          height: 100%;
          width: 100%;
          span {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 100%;
            border-radius: 12px;
            overflow: hidden;
            img,
            video {
              height: 100%;
              width: 100%;
              border-radius: 12px;
            }
          }
        }
      }
      @include themed() {
        // background-color: t($primary-light);
        background: t($bg-color-light);
      }
    }
  }
}
.ocr-questions {
  @include padding(96px 0px);
  .qna-section {
    .qna-header {
      text-align: center;
      @include margin-bottom(48px);
      .qna-title {
        @include font-size(44px);
        font-family: $sora-bold;
      }
    }
    .qna-body {
    }
  }
}
