.auth {
  .login-box {
    @include padding(80px 0);
    .login {
      .login-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .login-title {
          @include font-size(48px);
          @include margin-bottom(12px);
          font-family: $inter-semibold;
          color: $gray-700;
        }
      }
      .login-body {
        .login-form-card {
        }
        .forgot-password {
          @include margin-bottom(24px);
          text-decoration: underline;
          display: flex;
          justify-content: flex-end;
          color: $gray-700;
          cursor: pointer;
        }
        .submit-button {
        }
        .change-mode {
          .change-mode-text {
            cursor: pointer;
            color: $primary-600;
            text-decoration: underline;
          }
        }
      }
    }
  }
}
