.pricing {
  .pricing-header-main {
    @include padding(48px 12px);
    background-color: $yellow-25;
    text-align: center;
    .pricing-header-title {
      @include font-size(44px);
      @include margin-bottom(32px);
      font-family: $sora-bold;
      color: $primary-600;
      @include line-height(53px);
    }
    .pricing-header-desc {
      @include font-size(24px);
      @include line-height(30px);
    }
  }
  .pricing-section {
    .pricing-card {
      @include padding(48px 24px);
      // @include box-shadow-default($primary-100);
      // border: 1px solid $primary-100;
      @include box-shadow-card();
      // background: #fff;
      border-radius: 8px;
      height: 100%;
      display: flex;
      flex-flow: column;
      justify-content: center;
      .pricing-card-header {
        height: 140px;
        display: flex;
        flex-flow: column;
        // gap: 32px;
        .header-top {
          @include margin-bottom(32px);
          display: flex;
          flex-flow: column;
          gap: 8px;
          .plane-type {
            letter-spacing: 1.6px;
            text-transform: uppercase;
            font-family: $inter-semibold;
            color: $primary-600;
            @include line-height(22px);
          }
          .plan-price {
            display: flex;
            align-items: center;
            gap: 16px;
            justify-content: flex-start;
            .price-desc{
              display: flex;
              flex-flow: row;
              gap: 4px;
              align-items: center;
              .price {
                @include font-size(24px);
                font-family: $inter-semibold;
                color: $primary-950;
              }
              .duration{

              }
            }
            .badge-icon {
              background-color: $primary-500;
              color: $primary-25;
              border-radius: 20px;
              padding: 2px 8px;
              @include font-size(12px);
              .discount-badge {
                @include line-height(18px);
              }
            }
          }
        }
        .header-bottom {
          .switch-type {
            background: $yellow-25;
            max-width: 160px;
            padding: 4px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-radius: 4px;
            font-size: 12px;
            span {
              @include padding(0 12px);
              @include line-height(18px);
              font-family: $inter-medium;
              cursor: pointer;
              color: $gray-600;
              &.active {
                border-radius: 4px;
                background: $primary-200;
                color: $primary-600;
              }
            }
          }
        }
      }
      .pricing-card-body {
        @include margin(48px 0px);
        .feature-list {
          ul {
            padding: 0px;
            margin: 0px;
            list-style: none;
            display: flex;
            flex-flow: column;
            gap: 16px;
            li {
              &.feature-list-item {
                display: flex;
                gap: 14px;
                font-family: $inter-medium;
                align-items: center;
                @include line-height(24px);
                .check-icon {
                  @include nugget-icon(22px);
                }
              }
            }
          }
        }
        .per-month {
          display: flex;
          flex-flow: column;
          gap: 14px;
          .participant {
            @include font-size(28px);
            color: $primary-950;
            font-family: $inter-semibold;
          }
        }
      }
      .pricing-card-footer {
      }
    }
    &.hiring {
      @include padding(64px 12px 96px 12px);
      background-color: $yellow-25;
    }
    &.recruitment {
      @include padding(96px 12px 96px 12px);
    }
  }
  .pricing-bottom {
    @include padding(0px 12px 96px 12px);
    text-align: center;
    .custom-plan {
      .custom-plan-header {
        @include font-size(24px);
        font-family: $inter-semibold;
        @include margin-bottom(40px);
      }
    }
  }
  .pricing-header {
    text-align: center;
    @include margin-bottom(32px);
    .pricing-title {
      color: $primary-950;
      font-family: $sora-bold;
      margin-bottom: 16px;
      @include font-size(36px);
    }
    .pricing-sub-title {
      @include font-size(20px);
      @include line-height(30px);
    }
  }
}
