.product-detail {
  background-color: $yellow-25;
  .product-header-main {
    @include font-size(20px);
    font-family: $inter-semibold;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: $pink-900;
    // padding: 16px 0px;
  }
  .product-title {
    padding: 0px;
    @include font-size(20px);
    font-family: $inter-semibold;
    letter-spacing: 2px;
    text-transform: uppercase;
    @include margin-bottom(32px);
    color: $primary-500;
  }
  .product-section {
    @include padding(96px 12px);
    .product-content {
      max-width: 562px;
      // @include padding(0px 12px);
      height: 100%;
      display: flex;
      flex-flow: column;
      justify-content: center;
      gap: 32px;
      .product-header {
        .product-title {
          padding: 0px;
          margin-bottom: 0;
        }
      }
      .product-body {
        .product-sub-title {
          @include margin-bottom(16px);
          @include font-size(44px);
          @include line-height(53px);
          font-family: $sora-bold;
          color: $primary-950;
        }
        .product-desc {
          @include font-size(20px);
          @include line-height(30px);
        }
      }
    }
    .product-image {
      height: 100%;
      width: 100%;
      .nugget-image {
        display: flex;
        justify-content: flex-start;
        // background-color: #fff;
        border-radius: 12px;
        padding: 10px;
        // max-height: 409px;
        @include box-shadow-card();
        max-width: 550px;
        height: 100%;
        width: 100%;
        span {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100%;
          width: 100%;
          border-radius: 12px;
          overflow: hidden;
          img,
          video {
            height: 100%;
            width: 100%;
            border-radius: 12px;
          }
        }
      }
    }
  }
  &.teams-product-detail {
    @include padding(64px 0px);
    .product-section {
      @include padding(64px 0px);
      .product-content {
        padding-bottom: 2rem;
        .product-body {
          .product-desc {
            @include font-size(20px);
            @include line-height(30px);
          }
        }
      }
    }
  }
}
