.teams {
  .teams-header-main {
    @include padding(96px 0px);
    .teams-header-content {
      .teams-title {
        @include font-size(20px);
        @include margin-bottom(32px);
        text-transform: uppercase;
        color: $pink-900;
        font-family: $inter-semibold;
        letter-spacing: 2px;
      }
    }
  }
  .help-section {
    @include padding(80px 0px 96px 0px);
    .help-header-title {
      @include margin-bottom(60px);
    }
    .help-card {
      border-radius: 20px;
      background: $gray-900;
      color: $gray-50;
      height: calc(100% - 30px);
      @include padding(32px 24px);
      @include margin(0px 12px 24px 12px);
      .help-image {
      }
      .help-content {
        @include margin-top(32px);
        @include font-size(24px);
        font-family: $inter-semibold;
        max-width: 320px;
        @include line-height(32px);
      }
    }
  }
  .try-nugget {
    @include padding(40px 0px 80px 0px);
    .try-nugget-content {
      @include padding(0px 12px);
      .description {
        color: $primary-950;
        font-family: $inter-semibold;
        @include font-size(24px);
        @include margin-bottom(40px);
        @include line-height(32px);
      }
    }
  }
  .nugget-heading,.help-heading {
    @include font-size(36px);
    font-family: $sora-bold;
    color: $primary-600;
  }
}
