<div class="web-detail-section">
  <div class="container">

    <div class="row">
      <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <h2>Contact detail</h2>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="user-detail-container">
          <form action="">
            <div class="row">
              <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12">
                <div class="form-group">
                  <label for="" class="control-label">First Name</label>
                  <span class="form-control not-editable">{{contactDetail.name}}</span>
                </div>
              </div>
              <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12">
                <div class="form-group">
                  <label for="" class="control-label">Last Name</label>
                  <span class="form-control not-editable">{{contactDetail.surname || '--'}}</span>
                </div>
              </div>
              <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12">
                <div class="form-group">
                  <label for="" class="control-label">Email</label>
                  <span class="form-control not-editable">{{contactDetail.email}}</span>
                </div>
              </div>
              <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12">
                <div class="form-group">
                  <label for="" class="control-label">Subject</label>
                  <span class="form-control not-editable">{{contactDetail.subject}}</span>
                </div>
              </div>
              <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12">
                <div class="form-group">
                  <label for="" class="control-label">Created at</label>
                  <span class="form-control not-editable">{{contactDetail.created_at | date}}</span>
                </div>
              </div>
              <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12">
                <div class="form-group">
                  <label for="" class="control-label">Message</label>
                  <span class="form-control not-editable">{{contactDetail.message}}</span>
                </div>
              </div>
              <!-- <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12">
                <div class="form-group">
                  <label for="" class="control-label">Is active</label>
                  <span class="form-control not-editable">{{userDetail.is_active}}</span>
                </div>
              </div> -->
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
