<div class="login">
  <div class="login-header">
    <div class="login-title">
      <!-- <span>{{loginMode?'Login':'Signup'}} here</span> -->
      <span>Signup here</span>
    </div>
    <div class="go-to-home" *ngIf="!false">
      <button class="btn btn-primary-outline btn-with-icon" (click)="goToHomepage()">
        <span class="btn-icon rotate-180">
          <nugget-icon [name]="'right-arrow'" [fill]="'#5e35b1'" [stroke]="'#5e35b1'"></nugget-icon>
        </span>
        <span>Back</span>
      </button>
    </div>
  </div>
  <div class="login-body">
    <div class="signup-form">
      <form action="" [formGroup]="signupForm" (ngSubmit)="onSignup()">
        <div class="signup-form-card">
          <div class="form-group">
            <label for="name" class="control-label">Your name</label>
            <input type="text" class="form-control" formControlName="name">
            <div class="form-error"
              *ngIf="signupForm.controls['name'].touched && signupForm.controls['name'].hasError('required')">
              <span>name required!</span>
            </div>
          </div>
          <div class="form-group">
            <label for="username" class="control-label">Username</label>
            <input type="text" class="form-control" formControlName="username">
            <div class="form-error"
              *ngIf="signupForm.controls['username'].touched && signupForm.controls['username'].hasError('required')">
              <span>Username required!</span>
            </div>
          </div>
          <div class="form-group">
            <label for="email" class="control-label">Email</label>
            <input type="email" class="form-control" id="email" formControlName="email">
            <div class="form-error" *ngIf="signupForm.controls['email'].touched">
              <span *ngIf="signupForm.controls['email'].hasError('required')">Email required!</span>
              <span *ngIf="signupForm.controls['email'].hasError('emailValidation')">Enter valid email!</span>
            </div>
          </div>
          <div class="form-group">
            <label for="password" class="control-label">Password</label>
            <input type="password" class="form-control" id="password" formControlName="password">
            <div class="form-error" *ngIf="signupForm.controls['password'].touched">
              <span *ngIf="signupForm.controls['password'].hasError('required')">Password required!</span>
              <span *ngIf="signupForm.controls['password'].hasError('minlength')">Enter minimum 6 characters!</span>
            </div>
          </div>
          <div class="form-group">
            <label for="confirmPassword" class="control-label">Confirm Password</label>
            <input type="password" class="form-control" id="confirmPassword" formControlName="confirmPassword">
            <div class="form-error" *ngIf="signupForm.controls['confirmPassword'].touched ">
              <span *ngIf="signupForm.controls['confirmPassword'].hasError('required')">
                Confirm password required!</span>
              <span
                *ngIf="!signupForm.controls['confirmPassword'].hasError('required') && signupForm.controls['confirmPassword'].value !== signupForm.controls['password'].value">
                Password should be same!</span>
            </div>
          </div>
          <div class="form-group d-flex" *ngIf="false">
            <p>Do you have any referal code?</p>
            <input type="text" name="" id=""  class="form-control w-25">
          </div>
          <!-- <div class="form-group">
            <input type="checkbox" class="form-check-input" id="remember-me">
            <label for="remember-me" class="control-label">Remember me</label>
          </div> -->
          <div class="form-group" *ngIf="false">
            <label for="number" class="control-label">Number</label>
            <input type="text" class="form-control" id="number" formControlName="number">
            <div class="form-error"
              *ngIf="signupForm.controls['number'].touched && signupForm.controls['number'].hasError('required')">
              <span>Number required!</span>
            </div>
          </div>
          <div class="submit-button">
            <div class="login-button">
              <button type="submit" class="btn btn-primary btn btn-primary w-100"
                [disabled]="!signupForm.valid || signupForm.controls['confirmPassword'].value !== signupForm.controls['password'].value">Signup</button>
            </div>
            <div class="signin-with-google mt-3" (click)="loginWithGoogle()" *ngIf="false">
              <button type="button" class="btn btn-primary-outline btn-with-icon w-100">
                <span class="btn-icon">
                  <nugget-icon name="google-icon"></nugget-icon>
                </span>
                <span>Login with google</span>
              </button>
            </div>
          </div>
          <div class="change-mode mt-3">
            <p>
              <span>Have an account ? </span>
              <span class="change-mode-text " (click)="changeMode()">Login
                here</span>
            </p>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
