<div class="about-us">
  <div class="about-header text-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xxl-9 col-xl-10 col-lg-12 col-md-12 col-sm-12">
          <div class="about-title">
            <span>GetCurious helps you build better products based on deep user insights.</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="meet-the-team">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xxl-11 col-xxl-11 col-lg-11 col-md-11 col-sm-11 col-11">
          <div class="team-header">
            <div class="team-title">
              <span>Meet the team</span>
            </div>
            <div class="team-desc">
              <span>We’re a small team focussed on building a product that helps our clients build better products,
                powered by
                deep user insights.</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-6 col-6" *ngFor="let item of teamList">
          <div class="team-card">
            <div class="team-card-header">
              <div class="team-card-image">
                <div class="profile-image">
                  <span>
                    <img [src]="item.avtar" [alt]="item.name" class="img-fluid">
                    <!-- <nugget-icon [name]="item.image"></nugget-icon> -->
                  </span>
                </div>
              </div>
            </div>
            <div class="team-card-body">
              <div class="team-job-title">
                <span class="title">{{item.name}}</span>
                <a [href]="item.social_url" target="_blank" class="job-icon" *ngIf="item.social_url">
                  <nugget-icon [name]="'linkedin'"></nugget-icon>
                </a>
              </div>
              <div class="team-job-sub-title">
                <span>{{item.designation}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="join-us">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
          <div class="join-us-card">
            <div class="join-us-header">
              <div class="join-us-title">
                <span>Join us!</span>
              </div>
              <div class="join-us-sub-title">
                <span>At GetCurious, we help organisations understand their customers deeply by making research easy and
                  fast</span>
              </div>
            </div>
            <div class="join-us-footer">
              <div class="joiu-button">
                <button class="btn btn-primary btn-xl" type="button" (click)="openJobSection()">See open roles</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
