<div class="file-upload-form">
  <form action="">
    <div class="form-group">
      <div class="file-input-wrapper">
        <div class="file-input-content">
          <div class="file-input-header">
            <div class="file-input-title">
              <span>The world’s most powerful <span class="mark-title">free online OCR</span></span>
            </div>
            <div class="file-input-description">
              <span>Thousands of developers convert images and PDFs to actionable text with Nanonets</span>
            </div>
            <div class="uplading">
            </div>
          </div>
          <div class="file-input-body">
            <form action="" [formGroup]="fileForm">
              <label [for]="!isFileSelected?'file':null" class="d-block">
                <input type="file" id="file" class="" (change)="fileSelected($event)" formControlName="file" hidden
                  accept=".pdf, image/*">
                <div class="file-input-card card">
                  <div class="row g-5">
                    <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-6 col-sm-12">
                      <div class="file-input-preview">
                        <div class="file-preivew-image">
                          <span>
                            <img [src]="filePreviewBase64?filePreviewBase64:'/assets/ocr-images/sample-file.png'"
                              alt="sample-file.png">
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="col-xxl-9 col-xl-9 col-lg-8 col-md-6 col-sm-12">
                      <div class="file-upload">
                        <div class="file-output card" [contentEditable]="false"
                          [ngClass]="{'file-selected': isFileSelected}">
                          <ng-container *ngIf="!fileText; else showFileText">
                            <span>
                              {{isUploading ? 'File scanning...' : 'Text from your document will appear here.'}}
                            </span>
                          </ng-container>
                          <ng-template #showFileText>
                            <div class="image-data">
                              <pre>{{ fileText }}</pre>
                            </div>
                          </ng-template>
                        </div>
                        <div class="file-upload-button">
                          <div class="view-format" *ngIf="false">
                            <div class="format-html">
                              <button class="btn btn-dark">TEXT</button>
                            </div>
                            <div class="format-json">
                              <button class="btn btn-dark">JSON</button>
                            </div>
                          </div>
                          <div class="upload-button">
                            <span class="btn btn-primary" (click)="onUploadFile()">Upload</span>
                          </div>
                          <div class="remove-file-button" *ngIf="isFileSelected">
                            <button class="btn btn-primary-outline" (click)="removeSelectedFile()">Start again</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </label>
            </form>
            <div class="animation" *ngIf="isUploading">
              <app-file-loader></app-file-loader>
            </div>
            <div class="test text-start" *ngIf="metaData && false">
              <pre>{{metaData | json }}</pre>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  <div class="docuemnt-data py-5">
    <div class="emp-data-title">
      <h4>Documents information</h4>
      <hr>
    </div>
    <!-- <h1>Data</h1> -->
    <ng-container *ngIf="documents.length; else noDocument">
      <div class="table-responsive">
        <table class="table ">
          <thead>
            <tr>
              <th>Id</th>
              <th>Image</th>
              <th>Document_date</th>
              <th>Created_date</th>
              <th>Category</th>
              <th>Vendor</th>
              <th>Invoice number</th>
              <th>Invoice number</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of documents; let i=index">
              <td>{{item.id}}</td>
              <td>
                <div class="image-thumbnail">
                  <span>
                    <img [src]="item.img_thumbnail_url" [alt]="item.img_file_name">
                  </span>
                </div>
              </td>
              <td>{{item.date ? (item.date | date) :'--' }}</td>
              <td>{{item.created_date ? (item.created_date | date) :'--' }}</td>
              <td>{{item.category ? item.category:'--'}}</td>
              <td>{{item.vendor.name ? item.vendor.name:'--'}}</td>
              <td>{{item.invoice_number ? item.invoice_number : '--'}}</td>
              <td>{{item.document_type ? item.document_type : '--'}}</td>
              <td>
                <div class="delete-button">
                  <button class="btn btn-outline-danger btn-xs" (click)="onDeleteDocument(item.id)">Delete</button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </ng-container>
    <ng-template #noDocument>
      <tr>
        <td>
          <span>No Documents found!</span>
        </td>
      </tr>
    </ng-template>
  </div>
</div>
