<div class="rating-section">
  <div class="container">
    <div class="row">
      <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="rating-container">
          <main>
            <form [formGroup]="ratingForm" (ngSubmit)="onSubmit()">
              <h1>Rate Us</h1>
              <p>How was your experience using our application? Your rating matter!</p>
              <div class="rating">
                <input type="radio" formControlName="rating" name="rating" id="rating-1" value="1" >
                <input type="radio" formControlName="rating" name="rating" id="rating-2" value="2" >
                <input type="radio" formControlName="rating" name="rating" id="rating-3" value="3" >
                <input type="radio" formControlName="rating" name="rating" id="rating-4" value="4" >
                <input type="radio" formControlName="rating" name="rating" id="rating-5" value="5" >

                <div class="rating__box">
                  <label for="rating-1" class="rating__star" (click)="rateProject(1)">&starf;</label>
                  <label for="rating-2" class="rating__star" (click)="rateProject(2)">&starf;</label>
                  <label for="rating-3" class="rating__star" (click)="rateProject(3)">&starf;</label>
                  <label for="rating-4" class="rating__star" (click)="rateProject(4)">&starf;</label>
                  <label for="rating-5" class="rating__star" (click)="rateProject(5)">&starf;</label>
                </div>
              </div>

              <div class="form-group my-4">
                <label for="comment-rating" class="control-label">Enter your feedback.</label>
                <textarea id="comment-rating" placeholder="It was nice!" name="feedback" formControlName="comment"
                  class="form-control"></textarea>
              </div>

              <div class="">
                <button type="submit" class="btn btn-primary w-100" [disabled]="!ratingForm.valid">Submit</button>
                <button type="submit" class="btn btn-primary-outline mt-4 w-100" (click)="activeModal.close(false)">Cancle</button>
              </div>
            </form>
          </main>
        </div>
      </div>
    </div>
  </div>
</div>
