<div class="">
  <div class="container">
    <div class="row">
      <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="blog-header-content">
          <div class="blog-title">
            <span>{{blogHeader.title}}</span>
          </div>
          <div class="blog-desc">
            <span>{{blogHeader.desc}}</span>
          </div>
          <div class="blog-search" *ngIf="blogHeader.isSearchable">
            <form class="form" [formGroup]="searchForm">
              <input type="text" name="search" id="search" class="form-control search-input"
                     placeholder="Search for a topic" formControlName="query">
              <label for="search" class="search-label">
                <span class="search-icon">
                  <nugget-icon name="search"></nugget-icon>
                </span>
              </label>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
