<div class="container">
  <div class="row">
    <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
      <div class="footer-head text-center">
        <div class="nugget-logo">
          <span [routerLink]="['/']">
            <!-- <img src="/assets/svg/nugget-logo.svg" alt="nugget-logo" class="img-fluid"> -->
            <nugget-icon name="ocr-web" [fill]="'#4F37E2'"></nugget-icon>
          </span>
        </div>
        <div class="footer-title">
          <span>Elevate Your Text Recognition Experience</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12">
      <div class="footer-content">
        <ul class="footer-list text-start">
          <li class="footer-list-item" [routerLink]="item.routing" *ngFor="let item of menuList">{{item.title}}</li>
        </ul>
      </div>
    </div>
    <div class="col-xxl-5 col-xl-5 col-lg-6 col-md-6 col-sm-12">
      <div class="news-letter-content-footer">
        <form [formGroup]="enquiryForm" (ngSubmit)="goToUdesk()" novalidate="novalidate" novalidate>
          <div class="news-letter-footer">
            <div class="news-letter-input">
              <input id="newsletter" name="newsletter" formControlName="email" type="text" class="form-control"
                     placeholder="Your work email">
            </div>
            <div class="footer-button">
              <button type="submit" class="btn btn-primary">Try for free</button>
            </div>
            <div class="social-icon-footer">
              <ul class="social-icon-list">
                <li>
                  <a href="https://www.linkedin.com/company/userstudy/" target="_blank" class="logo-icon">
                    <nugget-icon name="linkedin" [fill]="'#4F37E2'"></nugget-icon>
                  </a>
                </li>
                <li>
                  <a href="https://twitter.com/getcuriousX" target="_blank" class="logo-icon">
                    <nugget-icon name="x" [fill]="'#4F37E2'"></nugget-icon>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
      <div class="footer-logo d-flex justify-content-start justify-content-md-end">
        <span class="certificate-icon" *ngIf="false">
          <nugget-icon name="aicpa"></nugget-icon>
        </span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
      <div class="copyrights-content">
        <div class="copy-right">
          <span>Copyright © {{year}} UXR Technologies Pvt. Ltd. | All Rights Reserved</span>
        </div>
        <div class="copy-right">
          <div class="policy-links">
            <span class="policy-link" [routerLink]="['/terms','tnc']">T&C | </span>
            <span class="policy-link" [routerLink]="['/terms','tnc4p']">T&C for Participants | </span>
            <span class="policy-link" [routerLink]="['/terms','policy']">Privacy Policy </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
